.landingContainer {
  margin: "";

  /*this moves the whole container*/
  width: 150rem;
  margin-left: auto;
  margin-right: auto;
}

.landingContainer p {
  line-height: 1.2;
  font-size: 3rem;
}

.landingContainer h2 {
  font-size: 6rem;
  margin-bottom: 2rem;
}

.landingContainer h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

/*///////////////////////////
////////////About//////////
///////////////////////////*/

.about {
  margin: 10rem 1rem;
}

/*/ //////////////////////////
////////////Experience//////////
///////////////////////////*/

.education {
  margin: 10rem 1rem;
}

/*///////////////////////////
////////////Experience//////////
///////////////////////////*/

.experience {
  margin: 10rem 1rem;
}

.experience ul {
  margin-top: 2rem;
  margin-left: 2.4rem;
  font-size: 2.6rem;
  list-style-type: disc;
}

.experience li:not(:last-child) {
  margin-bottom: 2rem;
}
.experience li {
  line-height: 1.4;
}

.expDateLocContainer {
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 3rem;

  justify-content: space-between;
}

.expDate {
  display: flex;
}

.expLoc {
  display: flex;
}

.iconContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 1rem;
}

.iconContainerMap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 1rem;
  margin-left: auto;
}

/*/ //////////////////////////
////////////Skills//////////
///////////////////////////*/

.skills {
  margin: 10rem 1rem;
}

.skills ul {
  margin-top: 2rem;
  margin-left: 2.4rem;
  font-size: 2.6rem;
  list-style-type: disc;
}

.skills li:not(:last-child) {
  margin-bottom: 2rem;
}

/*///////////////////////////
////////////Work//////////
///////////////////////////*/

.work {
  margin: 10rem 1rem;
}

.workImg {
  height: 30rem;
  width: 35rem;
  object-fit: contain;
}

.workImg img {
  border-radius: 1px;
  width: 100%;
  height: 100%;
}

.projectName {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1rem;
}

.cardFlexCenter {
  display: flex;
  justify-content: flex-start;
}

.cardContainer a {
  color: orange;
  text-decoration: none;
}

.linksContainer {
  display: flex;
  justify-content: space-around;
}

.linksContainer img {
  width: 10rem;
  height: 10rem;
}

.linksContainer a {
  margin-top: 1rem;
  font-size: 3rem;
  display: flex;
  justify-content: center;
}

.linksContainer a:hover,
.linksContainer a:active {
  cursor: pointer;
}

/*/ //////////////////////////
////////////Contact//////////
///////////////////////////*/

.contact {
  margin: 10rem 1rem;
}

.contactLinks {
  display: flex;
  /* justify-content: center; */
}

.contactLinks ul {
  display: flex;
  font-size: 2.6rem;
  list-style-type: disc;
  column-gap: 10rem;
}

.contactLinks li:not(:last-child) {
  margin-bottom: 2rem;
}

.contactLinks li {
  list-style: none;
}

.contactLinks a:hover,
.contactLinks a:active {
  cursor: pointer;
  color: orange;
}

/*/ //////////////////////////
////////////Media//////////
///////////////////////////*/
@media (max-width: 1500px) {
  .landingContainer {
    width: auto;
  }
}
@media (max-width: 1200px) {
  .cardContainer {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  .cardFlexCenter {
    justify-content: center;
  }
}

@media (max-width: 1000px) {
  .eduDateLocContainer {
    flex-direction: column;
  }

  .eduDate {
    margin-left: 0rem;
    margin-right: auto;
  }

  .eduLoc {
    margin-left: 0rem;
    margin-right: auto;
  }

  .contactLinks ul {
    flex-direction: column;
    row-gap: 2rem;
  }
}
