.topBar {
  font-size: 4rem;
  display: flex;
  justify-content: space-between;
  margin: 2rem 1rem;
}

.nameTop {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.navLinks {
  font-size: 3rem;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.navLinks ul {
  list-style: none;
  display: flex;
}

.navLinks li {
  margin-right: 2rem;
}

.navLinks a:hover,
.navLinks a:active {
  cursor: pointer;
  color: orange;
}
