.topBar {
  font-size: 4rem;
  display: flex;
  justify-content: space-between;
  margin: 2rem 1rem;
}

.nameTop {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.navLinks {
  font-size: 3rem;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.navLinks ul {
  list-style: none;
  display: flex;
}

.navLinks li {
  margin-left: 2rem;
}
.navLinks li a {
  text-decoration: none;
}

.navLinks a:hover,
.navLinks a:active {
  cursor: pointer;
  color: orange;
}

@media (max-width: 1000px) {
  .nameTop {
    align-content: flex-start;
  }

  .navLinks ul {
    flex-direction: column;
  }

  .navLinks li {
    margin: 0.8rem 0rem;
  }
}
