.topBar {
  font-size: 4rem;
  display: flex;
  justify-content: space-between;
  margin: 2rem 1rem;
}

.nameTop {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.nameTop :not(:first-child) {
  margin-left: 1rem;
}

.navLinks {
  font-size: 3rem;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.navLinks ul {
  list-style: none;
  display: flex;
}

.navLinks li {
  margin-left: 2rem;
}
.navLinks li a {
  text-decoration: none;
}

.navLinks a:hover,
.navLinks a:active {
  cursor: pointer;
  color: orange;
}

.navButton {
  background-color: transparent;
  z-index: 101;
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem 1rem 0rem 0rem;
  border: none;
}

.themeChange {
  margin-left: 2rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 5rem;
  background-color: rgba(212, 169, 253, 0.568);
  height: 5rem;
  width: 15rem;
  transform: translate(-1rem, -1rem);
}

/*///////////////////////////////
////////////MEDIA///////////////
///////////////////////////////*/

@media (max-width: 1209px) {
  .nameTop {
    align-content: flex-start;
  }

  .navLinks ul {
    flex-direction: column;
  }

  .navLinks li {
    margin: 0.8rem 0rem;
  }

  .nameTop {
    flex-direction: column;
  }

  .nameTop :not(:first-child) {
    margin-left: 0rem;
    margin-top: 1rem;
  }

  .themeChange {
    margin-left: 1rem;
    margin-top: 2rem;
  }
}
