* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: #333;
  line-height: 1;
  font-weight: 400;
  font-family: Georgia, serif;
  overflow-x: hidden;

  /*image style*/
  background-image: url(/background.webp);
  background-size: 100vw 100vh;
  background-repeat: repeat;
  background-attachment: fixed;

  /* position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(/background.webp);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1000000; */
}

a {
  color: inherit;
  text-decoration: none;
}
